/* testing to ensure html is linked */
/* h1 {
    color: blue;
} */

body{
    text-align: center;
    justify-content: center;
    border: 5px solid white;
    margin: 20px;
    padding: 15px;
    text: black;
    background: rgba(65, 62, 62, 0.514) ;
}

li {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-block;
}

.answers button {
    cursor: pointer;
    display: table;
    width: 10%;
    text-align: center;
    background-color: green;
    color: white;
    padding: 10px 24px;
    margin: 0 auto;
}

.high-score-list {
    width: 50%;
}